<ion-view view-title="Weekly Progress">
    <ion-content>
        <highchart id="chart1" config="reading" class="span10"></highchart>
        <highchart id="chart2" config="arts" class="span10"></highchart>
        <highchart id="chart3" config="literacy" class="span10"></highchart>
        <highchart id="chart4" config="math" class="span10"></highchart>
        <highchart id="chart5" config="litVocab" class="span10"></highchart>
        <highchart id="chart6" config="social" class="span10"></highchart>
    </ion-content>
</ion-view>
