<ion-view view-title="Weekly Report">
    <ion-content>

        <div class="list card">
            <div class="item item-avatar">
                <img src="img/reading.gif">
                <h2>Reading/Listening</h2>
            </div>
            <div class="item">
                <highchart id="chart1" config="reading" class="span10"></highchart>
            </div>
        </div>

        <div class="list card">
            <div class="item item-avatar">
                <img src="img/art-icon.png">
                <h2>Arts</h2>
            </div>
            <div class="item">
                <highchart id="chart2" config="arts" class="span10"></highchart>
            </div>
        </div>

        <div class="list card">
            <div class="item item-avatar">
                <img src="img/LTKd5nATa.jpeg">
                <h2>Literacy/Storytelling</h2>
            </div>
            <div class="item">
                <highchart id="chart3" config="literacy" class="span10"></highchart>
            </div>
        </div>


        <div class="list card">
            <div class="item item-avatar">
                <img src="img/arithmetic.png">
                <h2>Math/Problem Solving</h2>
            </div>
            <div class="item">
                <highchart id="chart4" config="math" class="span10"></highchart>
            </div>
        </div>

        <div class="list card">
            <div class="item item-avatar">
                <img src="img/Vocabulary.jpg">
                <h2>Literacy/Vocabulary</h2>
            </div>
            <div class="item">
                <highchart id="chart5" config="litVocab" class="span10"></highchart>
            </div>
        </div>


        <div class="list card">
            <div class="item item-avatar">
                <img src="img/iStock_000004544472XSmall.jpg">
                <h2>Social</h2>
            </div>
            <div class="item">
                <highchart id="chart6" config="social" class="span10"></highchart>
            </div>
        </div>


    </ion-content>
</ion-view>
